body, html {
    height: 100%; /* Imposta l'altezza al 100% */
    margin: 0;
}
@media (max-width: 768px) {/*--------------CORREGGERE FOOTER----------------*/
    body{
        padding-bottom: 1500px !important;
    }
}

#nome {
    margin: 0 auto;
    padding-top: 100px !important;
    min-height: 100vh; /* Imposta l'altezza minima al 100% della finestra */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Spinge il contenuto in alto e il footer in basso */
}

#nome img {
    vertical-align: middle;
    width: 100%; /* Imposta la larghezza dell'immagine per schermi grandi */
    max-width: 600px; /* Limita la larghezza massima dell'immagine */
    background: linear-gradient(to top right, #C91A27, #BF1B28);
}

#nome p {
    font-size: 1.7rem;
    margin-left: 20px; /* Aggiungi spazio tra l'immagine e il testo */
    color: #FFFFFF;
    text-align: left;
}

#nome strong {
    font-size: 5rem;
    background: linear-gradient(to top right, #C91A27, #BF1B28);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 768px) {
    #nome img {
        width: 70%; /* Riduci la dimensione dell'immagine sui dispositivi mobili */
    }
    #nome .row {
        flex-direction: column; /* Su dispositivi mobili, l'ordine è colonna */
    }
    #nome p {
        margin-left: 0; /* Rimuovi il margine sinistro quando l'immagine è sopra il testo */
        text-align: center;
    }
}
