#nome {
    display: flex;
    justify-content: center; /* Centra il contenuto orizzontalmente */
    align-items: center; /* Centra il contenuto verticalmente */
    padding-top: 70px;
    width: 80%;
    margin: 0 auto;
}

#nome img {
    width: 25%;
    margin-right: 20px; /* Aggiunge spazio tra l'immagine e il testo */
    vertical-align: middle; /* Allinea verticalmente l'immagine */
    border: 0.3vh solid;
    border-image: linear-gradient(to top right, #7e0000da, #ff6b6b) 1;
}

#nome p {
    background: linear-gradient(to right, #C91A27, #BF1B28);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 90pt;
    text-align: left;
}


#sez1 img{
    max-width: 80%;
    display: block;
    margin: 0 auto;
}
#sez1{
    text-align: center;
}
#sez1 div{
    display: inline-block;
    vertical-align: top;
    height: auto;
    max-width: 24%;
    margin: 1%;
    color: #FFFFFF;
    padding:2%;
    font-size: 22pt;/*1,6vw*/
    box-sizing: border-box;
}
#sez1 div p:first-of-type{
    font-size: 40pt;/*2.7vw*/
    margin: 0;
    margin-top: 1%;
}
#sez1 div img{
    max-width: 15%;
    margin-right: 3%;
    height: auto;
    float:left;
}
#sez1 div:nth-child(9){
    background: radial-gradient(50% 50% at top right, #212121, #1E1C1C);
}
#sez1 div:nth-child(10){
    background: radial-gradient(50% 50% at top right, #C91A27, #BF1B28);
}
#sez1 div:nth-child(11){
    background: radial-gradient(50% 50% at top right, #3d3d3d, #363232);
}
#sez1 p{
    text-align: left;
}

#sez2{
    background-color: #171717;
    padding: 1% 4% 1% 4%;
    padding-left: 12%;
    padding-right: 12%;
}
#sez2 p:first-child{
    color: #FFFFFF;
    font-size: 50pt;/*3vw*/
}
#sez2 p:not(:first-child){
    color: #FF4545;
    font-size: 35pt;/*2.5vw*/
}
#sez2 table{
    color: #FFFFFF;
    width: 70%;
    white-space: nowrap;
    border-collapse: collapse;
}
#sez2 th,td{
    padding-right: 100px;
    margin-right: 100px;
    text-align: left;
}
#sez2 th{
    font-size: 25pt;/*1.8vw*/
    padding-bottom: 2.5%;
    border-bottom:1px solid #FFFFFF;
}
#sez2 td{
    font-size: 22pt;/*1.6vw*/
    padding-top: 1%;
    padding-bottom: 1%;
}
#sez2 tr:not(:last-child) td{
    border-bottom:1px solid #FFFFFF;
}