#anpal, #monta{
    color: #FFFFFF;
    text-align: center;
    padding: 5% 15% 5% 15%;
}
#anpal img, #monta img{
    width:45%;
    border: 0.3vh solid;
    border-image: linear-gradient(to top right, #990000da, #ff4545) 1;
}
#anpal img:hover, #monta img:hover{
    border: 0.3vh solid #FFFFFF;
}
#anpal img{
    float:left;
}
#anpal :nth-child(2){
    font-size: 3vw;
    clear:right;
}
#anpal :nth-child(3){
    font-size: 2vw;
    clear:right;
}
#monta{
    background-color: #171717;
}
#monta img{
    float:right;
}
#monta :nth-child(2){
    font-size: 3vw;
    clear:left;
}
#monta :nth-child(3){
    font-size: 2vw;
    clear: left;
}