html,body{
    height: all;
    scroll-behavior: smooth;
    scroll-behavior: auto;
    margin: 0;
    background: radial-gradient(80% 40% at top right, #202020, #111111);
}
#all{
    padding-bottom: 70%;
    position: relative;
}
#head{
    background-color: #111111ec;/*colore con trasparenza*/
    display: flex;
    position: fixed;/*resta fisso in alto*/
    max-height: 50px;/*Dimensione head*/
    width: 100%;
}
#head img{
    max-height: 50px;/*altezza massima come l'head*/
    max-width: auto;
}
#head a:first-child{
    margin-left: 3%;
}
#head ul{
    display: flex;
    justify-content: flex-end;/*lista allineata sulla destra*/
    align-items: center;
    color: #FFFFFF;
    list-style: none;
    margin-left: auto;
}
#head ul li{
    white-space: nowrap;/*il testo non può andare a capo*/
    font-size: x-large;
    font-style: bold;
    padding: 0 15%;/*15% tra le scritte*/
}
a{
    text-decoration: none;
    color: #FFFFFF;
}
ul a:hover {
    color:#FF4545;
}
#footer{
    display: flex;
    white-space: nowrap;
    clear:both;
    padding: 3% 9% 0 9%;
}
#footer img:first-child{
    max-height: 50px;
    max-width: auto;
}
#footer ul {
    list-style: none;
    width:80%;
    padding: 0;/*elimina il padding e margin preimpostati della lista*/
    margin: 0;
}
#footer ul li{
    margin-bottom: 3%;
}
#footer ul li:first-child{
    color: #FFFFFF;
    font-size: x-large;
}
#footer ul li:not(:first-child){
    display: inline-flex;
    color: #FFFFFF;
    list-style: none;
    font-size: x-large;
    margin-right: 6%;
}
#footer a:first-child{
    margin-left: 3%;
}
#first{
    color:#FF4545;
}
/*grigio scuro= #1E1C1C
grigio chiaro= #212121*/