#indietro{
    color: #FFFFFF;
    margin-left: 11.5%;
    font-size: x-large;
    padding-top: 70px;
}
.carousel-container {
    position: relative;
    width: 40%; /* Larghezza del carosello */
    overflow: hidden;
    margin: 0 auto;
}
.carousel-track {
    display: flex;
    transition: transform 0.5s ease;
}
.carousel-track img {
    width: 100%; /* Larghezza massima delle immagini */
    height: auto; /* Altezza proporzionale alla larghezza */
}
button {
    position: absolute;
    top: 56%; /*ok righello*/
    transform: translateY(-50%);
    padding: 1.5%;
    background-color: rgba(0, 0, 0, 0.521);
    color: #FF4545;
    font-size: 24px;
    border: none;
    cursor: pointer;
}
#prevButton {
    left: 10px;
}
#nextButton {
    right: 10px;
}
#titolo p{
    color:#FFFFFF;
    font-size: x-large;
    margin: 0 11.5%;
}
#titolo p:first-child{
    color:#FF4545;
    font-size: 45pt;
}

#teoria{
    background-color: #171717;
    padding: 1% 11.5% 1% 11.5%;
}
#teoria p{
    color:#FF4545;
    font-size: xx-large;
}
#teoria li{
    color:#FFFFFF;
    font-size: x-large;
}

#commento p{
    color:#FFFFFF;
    font-size: x-large;
    margin: 0 11.5%;
}
#commento p:first-child{
    color:#FF4545;
    font-size: xx-large;
}