.carousel-container {
    position: relative;
    width: 60%; /* Larghezza del carosello */
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 4rem;
}
.carousel-track {
    display: flex;
    transition: transform 0.5s ease;
}
.carousel-track img {
    width: 100%; /* Larghezza massima delle immagini */
    height: auto; /* Altezza proporzionale alla larghezza */
}
button {
    position: absolute;
    top: 56%; /*ok righello*/
    transform: translateY(-50%);
    padding: 1.5%;
    background-color: rgba(0, 0, 0, 0.521);
    color: #FF4545;
    font-size: 24px;
    border: none;
    cursor: pointer;
}
#prevButton {
    left: 10px;
}
#nextButton {
    right: 10px;
}

.h1{
    font-size: 30pt;
    color: #FF4545;
    text-align: center;
    margin-bottom: 2.5rem;
}

.h4{
    font-size: 20pt;
    color: #FF4545;
}
main{
    color:#FFFFFF;
    font-size: 13pt;
    padding-top: 4rem;
}
p a:hover {
    color: #FF4545 !important;
}